*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: black;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
div{
    color: white;
}
canvas{
    background: linear-gradient(to bottom,blue,lightblue)
}